.jumbotron {
	font-size: 20px;
	padding: 14px;
	background-color: #228B22;
	text-align: center;
	color: white;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
    overflow: auto;
    margin: 0 auto;
    padding: 16px;
    background-color: white;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

.input_section {
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px 0px 20px 0px;
    background-color: lightgreen;
}

.input_section > h2 {
    text-align: center;
    color: #2E4600;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #228B22;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}


.input_section > form > .input > label {
    color: #2E4600;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: #2E4600;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0 0 0;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px 0px 20px 0px;
    background-color: lightgreen;
}

.search_section > h2 {
	text-align: center;
    color: #2E4600;
}

.search_section > form > .input {
    margin: 8px 0;
}

.search_section > form > .input > label {
    color: #2E4600;
    font-weight: bold;
}

.search_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.search_section > form > .buttons {
    margin: 8px;
    margin-left: 0px;
    display: inline block;
}

.search_section > form > .buttons > button {
    color: white;
    border: 0;
    border-radius: 5px;
    width: 30%;
    padding: 8px;
    cursor: pointer;
}

.search_section > form > .buttons > #searchSubmit {
    background-color: navy;
}

.search_section > form > .buttons > #clearSearch {
    background-color: darkred;
}

.search_section > form > .buttons > #resetFilter {
    background-color: darkorange;
}

.book_shelf {
    margin: 16px 0 0 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px 0px 20px 0px;
    background-color: lightgreen;
}

.book_shelf > h2 {
    text-align: center;
    margin-top: 4px;
    color: #2E4600;
}

.book_shelf > .book_list {
    margin: 8px 0;
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border-radius: 5px;
    margin: 10px 0;
    background-color: white;
}

.book_shelf > .book_list > .book_item > h3, .book_shelf > .book_list > .book_item > p {
    color: #2E4600;
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .blue {
    background-color: navy;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: darkgreen;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .darkorange {
    background-color: darkorange;
    color: white;
}

p {
	margin: 8px 0;
}

.left {
    float: left;
    width: 49%;
}

.right {
    float: right;
    width: 49%;
}

footer {
	padding: 10px;
	color: white;
	background-color:#228B22;
	text-align: center;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
    .left, .right {
        width: 100%;
    }

    main {
        width: 100%;
    }
}
